li
{
	font-size:20px;
	padding:5px;
	color:green;
	margin:30px;
}
h1 {
	color: green;
	background-color: lightgray;
	margin:30px;

	text-align:center;
}
h2
{	margin: 30px;
}
div
{
	font-style: oblique;
	margin:0px auto;

}
p
{
	text-align:right;
	font-size:20px;
	color: blue;
	margin:30px;
}
